footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c313a;
}

.backgroundBody {
    position: relative;
    color: lightgrey;
    margin: 30px;
    box-shadow: 0px 0px 13px 0px black;
    padding: 50px;
    overflow: hidden;
    border-radius: 4px;
}

.backgroundBody:before {
    content: ' ';
    border-radius: 4px;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    filter: opacity(.6);
    top: 0;
    left: 0;
    background-image: url("https://us.123rf.com/450wm/popovia/popovia1709/popovia170900016/85496224-blue-stone-pattern-wall-dark-background-or-texture.jpg?ver=6");
}

.hero .profile-pic {
    width: 250px;
    border-radius: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 30px -8px black;
    margin: 30px;
}


/* Typewriter Effect*/

h1,
h2,
h4 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 5s steps(40, end), step-end infinite;
}

h2 {
    animation: typing3 5s steps(40, end), step-end infinite;
}

h4 {
    animation: typing2 5s steps(40, end), step-end infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    33% {
        width: 100%;
    }
}

@keyframes typing2 {
    33% {
        width: 0%;
    }
    66% {
        width: 100%;
    }
}

@keyframes typing3 {
    66% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/* -------------------------- */

h1,
h2,
h4,
h5 {
    padding: 10px;
    font-family: 'Noto Serif', serif;
}

h5 {
    opacity: 0.6;
}

h5:hover {
    opacity: 1;
}

a {
    color: black;
}

#contact {
    text-align: center;
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain-820x532.jpg");
    color: lightgray;
    position: relative;
    margin: 30px;
    box-shadow: 0px 0px 13px 0px black;
    padding: 10px;
    overflow: hidden;
    border-radius: 4px;
    filter: saturate(20%);
}

#contact::after {
    content: ' ';
    border-radius: 4px;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    filter: opacity(.6);
    top: 0;
    left: 0;
    filter: saturate(20%);
}

#GGG {
    position: relative;
    width: 40%;
    margin: 20px;
    pointer-events: all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
}

#GGG img {
    visibility: hidden;
}

#GGG * {
    position: relative;
}

#GGG:hover {
    cursor: pointer;
}

#GGG:before {
    content: ' ';
    border-radius: 4px;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-image: url('./images/IMG_0009.JPG');
    background-size: cover;
    box-shadow: 0px 0px 13px 0px black;
    top: 0;
    left: 0;
}

#GGG:after:hover {
    cursor: pointer;
    pointer-events: all;
    content: ' ';
    border-radius: 4px;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1000;
}